@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Future Is Now <a href="https://github.com/cnytkya">building Web apps with Cüneyt Kaya</a>
    </p>
    <img src="https://avatars.githubusercontent.com/u/102078972?v=4" alt="Future Is Now" />
</div>
